@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Inter', 'sans-serif';
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style-type: none;
}
h2{
    margin: 20px 0px;
}
nav{
    position: sticky;
    left: 0px;
    top: 0px;
    z-index: 100;
    background-color: white;
    width: 100%;
    padding: 10px 29px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
nav .logo{
    display: flex;
    align-items: baseline;
}
nav .logo i{
    font-size: 24px;
    height: 36px;
    color: white;
    background-color: #D85151;
    padding: 5px;
    border-radius: 20px;
    border-bottom-right-radius: 5px;
    margin: 10px;
}
nav .logo p{
    font-size: 24px;
    font-weight: 600;
}
nav .navList{
    list-style-type: none;
    display: flex;
}
nav .navList li a{
    padding: 12px 18px;
    border-radius: 10px;
    font-size: 16px;
    color: rgb(17, 24, 39);
    font-weight: 500;
    text-decoration: none;
}
nav .navList .dropli a::after{
    content: '\f078';
    font-family: "Font Awesome 6 Free";
    font-size: 12px;
    padding-left: 10px;
    font-weight: 900; 
}
nav .navList li a:hover{
    background-color: #F2F3F5;
}
nav .navRight .navRightIcon{
    color: rgb(17, 24, 39);
    font-size: 18px;
    padding: 11px;
    transition: transform 1s;
}
nav .navRight .navRightIcon:hover{
    transform: scale(1.3);
}
nav .navRight #user:hover{
    animation-name: userAnim;
    animation-duration: 1s;
}
@keyframes userAnim{
    20%{transform: rotate(5deg);}
    40%{transform: rotate(-10deg);}
    60%{transform: rotate(10deg);}
    80%{transform: rotate(-10deg);}
    100%{transform: rotate(5deg);}
}
nav .navRight .navRightbtn{
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    background-color: #D85151;
    border-color: #D85151;
    text-decoration: none;
}
nav .navRight .navRightbtn:hover{
    background-color: #C92D2D;
    border-color: #C92D2D;
}
nav .navRight .navRightbtn::before{
    font-family: "Font Awesome 6 Free";
    content: "\f067";
    font-size: 14px;
    font-weight: 500;
    padding-right: 10px;
    display: inline-block;
    transition: transform 1s;
}
nav .navRight .navRightbtn:hover::before{
    transform: scale(1.2);
}
aside .customizebtn{
    display: inline-block;
    padding: 8px 12px;
    background-color: white;
    color: rgb(17, 24, 39);
    border-radius: 20px;
    border: 1px solid rgb(72, 76, 82);
    font-size: 10px;
    transform: rotate(-90deg);
    transform-origin: top right;
    position: fixed;
    top: 250px;
    right: 40px;
    z-index: 100;
}
aside .customizebtn::after{
    font-family: "Font Awesome 6 Free";
    content: "\f013";
    font-weight: 900;
    padding-left: 7px;
    font-size: 15px;
    color: rgb(72, 76, 82);
}
aside:hover .customizebtn::after{
    animation: spin 1s linear 4;
    display: inline-block;
    transform-origin: center center;
}
@keyframes spin{
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
header{
    background-color: #3D7A81;
    display: flex;
    padding: 130px 0px;
    height: 545px;
}
header .headerLeftImg{
    width: 600px;
    height: 300px;
    position: relative;
}
header .headerLeftImg img{
    border-top-left-radius: 70px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 80px;
    border-top-right-radius: 90px;
}
header .headerContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0px 20px;
}
header .headerContent h1{
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    color: white;
    margin-bottom: 50px;
}
header .headerContent .headerSearch{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    padding: 12px;
    border-radius: 12px;
    background-color: white;
    line-height: 24px;
}
header .headerContent input{
    border-color: transparent;
    padding: 0px 10px;
    font-size: 16px;
}
header .headerContent .headerSearch .search{
    padding: 0px 10px ;
    display: flex;
    align-items: baseline;
}
header .headerContent .headerSearch .search i{
    color: rgb(51, 61, 76);
    font-size: 20px;
}
header .headerContent .headerSearch p{
    padding: 0px 20px;
    color: #8c8f94;
}
header .headerContent .headerSearch #searchbtn{
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    background-color: #D85151;
    border-color: #D85151;
    text-decoration: none;
}
header .headerContent .headerSearch #searchbtn:hover{
    background-color: #C92D2D;
    border-color: #C92D2D;
}
header .headerContent .headerlist{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
header .headerContent .headerlist a{
    display: inline-block;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    transition: background-color 1s;
}
header .headerContent .headerlist a:hover{
    color: black;
    background-color: white;
}
header .headerRightImg{
    width: 600px;
    height: 200px;
    position: relative;
    top: 150px;
    right: -40px;
}
header .headerRightImg img{
    border-radius: 10px;   
}

.topContainer{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.topContainer>a{
    color: #6C757D;
    text-decoration: none;
}
.services{
    padding: 40px;
}
.services .bottomContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services .bottomContainer .service{
    flex-basis: 25%;
    display: flex;
    align-items: baseline;
    margin: 10px 0px ;
}
.services .bottomContainer .service>i{
    background-color: #e3e7ec;
    color: #6C757D;
    padding: 10px;
    border-radius: 50%;
    font-size: 16px;
}
.services .bottomContainer .service>p{
    color: #6C757D;
    padding: 10px;
}


@media screen and (max-width: 770px) {
    .services .bottomContainer .service{
        flex-basis: 33.33%;
    }
}
@media screen and (max-width: 600px) {
    .services .bottomContainer .service{
        flex-basis: 50%;
    }
}
@media screen and (max-width: 520px) {
    
    .services .bottomContainer .service{
        flex-basis: 100%;

    }
}
section.popularProjects{
    padding: 40px;
}
section.popularProjects .popularProjectsTitle{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: rgb(17, 24, 39);
    font-size: 25px;
    margin-bottom: 30px;
}
section.popularProjects .popularProjectsTitle a{
    color: rgb(17, 24, 39);
    font-size: 16px;
}
section.popularProjects .projects{
    display: flex;
    justify-content: space-between;
}
section.popularProjects .project{
    flex:0 0 30%;
    border-radius: 10px;
    border: 1px solid #b4b6bd;
    overflow: hidden;
}
section.popularProjects .project .projectheader{
    position: relative;
}
section.popularProjects .project .projectheader .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.2);
}
section.popularProjects .project .projectheader h3{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}
section.popularProjects .project .projectheader img{
    height: 210px;
}
section.popularProjects .project .projectheader i{
    position: absolute;
    top: 20px;
    right: 20px;
    color: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid silver;
    padding: 10px;
    border-radius: 50%;
    visibility: hidden;
}
section.popularProjects .project .projectheader:hover i{
    visibility: visible;
}
section.popularProjects .project .projectheader i:hover{
      animation: pulse; 
      animation-duration: 0.5s;
      animation-iteration-count: 3;
}
section.popularProjects .project .projectbody{

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 15px 20px;
}
section.popularProjects .project .projectbody .leftProjectBody{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 14px;
}
section.popularProjects .project .projectbody .leftProjectBody span{
    color: #6C757D;
    font-size: 12px;
}
section.popularProjects .project .projectbody .leftProjectBody i{
    color: rgb(252, 146, 49);
    padding: 0px 5px;
}
section.popularProjects .project .projectbody .rightProjectBody a{
    color: black;
    font-size: 14px;
    display: inline-block;
    padding: 10px 15px;
    border:1px solid black;
    border-radius: 10px;
}
section.popularProjects .project .projectbody .rightProjectBody a:hover{
    color: white;
    background-color: black;
}

.swiper-pagination-bullet-active{
    background-color: #343b41 !important;
}
@media screen and (max-width: 870px) {
  
    section.popularProjects{
        flex-direction: row;
        flex-wrap: wrap;
    }
    section.popularProjects .project{

        flex: 0 0 50%;
    }
}
@media screen and (max-width: 500px) {
  
    section.popularProjects{
        flex-direction: column;
    }
}